<!-- Inicio del contenedor principal -->
<div class="container py-4">
    <div>
        <!-- Grupo de entrada para buscar publicaciones -->
        <div class="input-group mb-4">
            <span class="input-group-text">Buscar Publicacion</span>
            <input #inputBuscado type="text" class="form-control">
            <input type="button" class="btn btn-primary" value="Buscar Publicacion" (click)="buscarTexto(inputBuscado)">
        </div>
        <!-- Sección para mostrar los resultados de la búsqueda -->
        <div>
            <!-- Comienza la condición para mostrar los resultados de la búsqueda -->
            @if (textoBuscado.trim() !== "" ) {
            <p><strong>Resultados buscados para:</strong> {{textoBuscado}}</p>
            }
            <!-- Finaliza la condición para mostrar los resultados de la búsqueda -->
        </div>
    </div>

    <!-- Contenedor de las publicaciones -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Itera sobre un listado de publicaciones -->
        @for (publicar of publicados; track publicar.id) {
        <!-- Se aplica @input para inyectar datos en el componente hijo -->
        @if (textoBuscado === "" || publicar.body.toLowerCase().includes(textoBuscado) ||
        publicar.title.toLowerCase().includes(textoBuscado)) {
        <app-publica [publicar]="publicar" [usuario]="getUsuarioPorId(publicar.userId)"></app-publica>
        }
        }
        <!-- Finaliza el bucle para mostrar las publicaciones -->
    </div>
</div>
<!-- Fin del contenedor principal -->