<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajo angular</title>
    <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
<main class="container">
  <div class="dynamic-content">
    <router-outlet></router-outlet>
  </div>
</main>

<div class="box">
    <ul class="nav-list"> <!-- Agregar una clase a la lista para aplicar estilos específicos -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactenos']">Contáctenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/publicaciones']">Publicaciones</a>
        </li>
    </ul>
</div>

</body>
</html>
